html {
    font-family: 'Poppins', sans-serif;
}

.custom-container {
    margin-left: 3em;
    // width: 100%;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(6, 190px);
    gap: 20px;
    padding: 1em 0;
    width: 100%;
    align-items: center;

    h4 {
        font-weight: 800;
        font-size: 15px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #00BBAB;
    }

    .agenda {
        display: grid;
        grid-template-columns: repeat(2, 50px);
        align-items: end;
    }

    .club {
        display: grid;
        grid-template-columns: repeat(2, 50px);
        align-items: end;

    }

    .sobre {
        display: grid;
        grid-template-columns: 50px 90px;
        align-items: end;
    }

    .user {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: end;
        border-left: 1px solid #2E2250;
        cursor: pointer;
    }

    .btn-card {
        width: 193px;
        height: 53px;
        left: 865px;
        top: 37px;
        background: #05E398;
        border-radius: 14.6243px;
        font-weight: 800;
        font-size: 15px;
        line-height: 16px;
        /* identical to box height, or 103% */

        color: #FFF;
    }
}

.btn-card {
    width: 193px;
    height: 53px;
    left: 865px;
    top: 37px;
    background: #05E398;
    border-radius: 14.6243px;
    font-weight: 800;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 103% */

    color: #FFF;
}

.hero {
    background-image: url('../img/background.png');
    width: 100%;
    height: 552px;
    display: flex;
    align-items: center;

    .btn-add {
        width: 253px;
        height: 52.65px;
        left: 110px;
        top: 333px;
        color: #FFF;
        background: #05E398;
        border-radius: 14.6243px;
        margin: 1em 0;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        margin-left: 5em;

        h2 {
            font-weight: 900;
            font-size: 44.9648px;
            // line-height: 48px;
            color: #192655;
            line-height: 1;
            letter-spacing: -0.05em;

        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;

            color: #00BBAB;
        }
    }
}

.agenda {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    align-items: end;
    cursor: pointer;
}

.club {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    align-items: end;
    cursor: pointer;
}

.hero-2 {
    background-image: url('../img/back2.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 552px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;

    p {
        padding-right: 8em;
        font-size: 20px;
        line-height: 41px;
        /* or 204% */

        letter-spacing: -0.04em;

        color: #000000;
    }

    span {
        font-weight: 900;
    }

    h4 {
        font-weight: 800;
        font-size: 15px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
        color: #00BBAB;
    }

    .block-icons {
        display: grid;
        grid-template-columns: repeat(3, 150px);
    }

}

.clients {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(150px, max-content));
    width: 80%;
    margin-top: 2em;

    h2 {
        font-weight: 900;
        font-size: 31.1719px;
        line-height: 33px;
        /* or 106% */
        letter-spacing: -0.05em;

        color: #192655;

        span {
            color: #00BBAB;
        }
    }

}

.section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;

    .smile-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 10px;
        margin-top: 2em;
    }

    h2 {
        font-weight: 900;
        font-size: 31.1719px;
        line-height: 33px;
        /* or 106% */
        letter-spacing: -0.05em;
        padding-right: 5em;
        color: #192655;

        span {
            color: #00BBAB;
        }
    }
}

.section-3 {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;

    img {
        width: 100%;
    }

    h2 {
        font-weight: 900;
        font-size: 31.1719px;
        line-height: 33px;
        /* or 106% */
        letter-spacing: -0.05em;
        padding-right: 5em;
        color: #192655;

        span {
            color: #00BBAB;
        }
    }
}

footer {
    background-color: #D9D9D9;
    padding: 1em 0;

    .footer-links {
        align-items: baseline;
    }

    a {
        font-weight: 800;
        font-size: 15px;
        line-height: 16px;
        /* identical to box height, or 103% */
        letter-spacing: -0.02em;

        color: #6A6D6D;
        text-decoration: none;
    }

    a:hover {
        color: #00BBAB;
    }

    div {
        margin: 0 1em;
    }
}

.modal {
    --bs-modal-width: 588px !important;
}

.up-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: left;

    h5 {
        text-align: left;
        padding: 0.5em;
        font-size: 1em;
    }

    .ac {
        border-left: 2px solid #A3FADD;
        border-right: 2px solid #A3FADD;
    }

    h3 {
        font-weight: 900;
        font-size: 18.193px;
        line-height: 19px;
        /* or 107% */
        letter-spacing: -0.05em;
        padding: 0 0.5em;
        color: #192655;

        span {
            color: #00BBAB;
        }
    }

    p {
        font-weight: 400;
        font-size: 14.3902px;
        line-height: 22px;
        letter-spacing: -0.04em;

        color: #000000;
    }
}

.middle-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em 0;

    h1 {
        font-weight: 900;
        font-size: 47.2347px;
        line-height: 51px;
        letter-spacing: -0.05em;

        color: #192655;

    }

    p {
        font-weight: 400;
        font-size: 14.3902px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.04em;
        padding: 0 5em;
        color: #000000;
    }
}

.bottom-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    text-align: center;

    p {
        font-weight: 400;
        font-size: 14.3902px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.04em;

        color: #000000;
    }
}

.fade-line {
    // width: ;
    background-color: #000000a8;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

.request-card {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 0;
    height: 100vh;
    right: 0;
    .border-color{
        border-left: solid 2px #A3FADD;
        border-right: solid 2px #A3FADD;
    }
    h4 {
        font-weight: 900;
        font-size: 17.6193px;
        line-height: 19px;
        /* or 107% */
        letter-spacing: -0.05em;

        color: #192655;
        padding: 0 2em;

        span {
            color: #00BBAB;
        }
    }

    .content-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 1em 0;

    }

    .middle-text {
        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.04em;
            text-align: center;
            color: #000000;
        }
    }

    .form-card {
        input {
            background: #E4F4EF !important;
            border-radius: 8.03306px !important;
            border: none;
            padding: 1em;
        }
    }

    .btn-next {
        width: 193px;
        height: 53px;
        left: 314px;
        top: 506px;
        margin-top: 2em;
        background: #192655;
        border-radius: 8px;
        color: #fff;
    }
}

.hero-club {
    background-image: url('../img/background2.png');
    width: 100%;
    height: 552px;
    display: flex;
    align-items: center;

    .btn-add {
        width: 253px;
        height: 52.65px;
        left: 110px;
        top: 333px;
        color: #FFF;
        background: #05E398;
        border-radius: 14.6243px;
        margin: 1em 0;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        margin-left: 5em;

        h2 {
            font-weight: 900;
            font-size: 44.9648px;
            // line-height: 48px;
            color: #192655;
            line-height: 1;
            letter-spacing: -0.05em;

            span {
                color: #00BBAB;
            }
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;

            color: #00BBAB;
        }
    }
}

.img-medico {
    margin-bottom: -16px;
}
.modal-form
{
    padding: 0 2em;
}
