@media screen and (max-width: 600px) {
    .d-header {
        display: none !important;
    }

    .d-home {
        display: none !important;
    }

    .menu-mobile {
        position: fixed;
        width: 60%;
        height: 100vh;
        top: 0;
        left: -100%;
        background: #FFFFFF;
        z-index: 1200;

        .logo-menu {
            display: flex;
            justify-content: center;
            padding: 1em;
        }

        .images {
            padding: 1em 2em;

            h4 {
                font-weight: 800;
                font-size: 15px;
                line-height: 16px;
                display: flex;
                align-items: center;
                letter-spacing: -0.02em;
                color: #00BBAB;
            }

            .agenda {
                display: grid;
                grid-template-columns: repeat(2, 50px);
                align-items: end;
            }

            .club {
                display: grid;
                margin-top: 1em;
                grid-template-columns: repeat(2, 50px);
                align-items: end;

            }
        }

        .text-menu {
            padding: 1em 2em;

            h1 {
                font-weight: 900;
                font-size: 18.193px;
                line-height: 19px;
                /* or 107% */

                letter-spacing: -0.05em;

                color: #192655;

                span {
                    color: #00BBAB;
                }
            }

            p {
                font-weight: 400;
                font-size: 14.3902px;
                line-height: 19px;

                letter-spacing: -0.04em;

                color: #000000;

            }

            h2 {
                font-weight: 900;
                font-size: 22.7376px;
                line-height: 24px;
                /* identical to box height, or 107% */
                letter-spacing: -0.05em;

                color: #192655;

            }

        }
    }

    .fade-line {
        // width: ;
        background-color: #000000a8;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .grid-m-menu {
        display: flex;
        // grid-template-columns: 110px 120px 100px;
        padding: 1em;
        justify-content: space-between;
        // justify-items: center;

        .logo {
            width: 108px;

            img {
                width: 100%;
            }
        }

        .btn-card {
            // width: 70%;
            padding: 0 !important;
            font-weight: 800;
            font-size: 12.2798px;
            line-height: 13px;
            width: 118px;
            height: 42px;
            /* or 103% */
            justify-content: center !important;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.02em;
            background: #05E398 !important;
            color: #FFFFFF;
        }



        .menu-btn {
            width: 45px;
            height: 45px;

            img {
                width: 100%;
            }
        }


    }

    .img-m-hero {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .text-m-hero {
        h1 {
            font-size: 25px;
            line-height: 27px;
            /* or 108% */
            font-weight: 700;

            text-align: center;
            letter-spacing: -0.05em;
            padding: 1em 3em;
            color: #192655;

            span {
                font-weight: 900;
                color: #00BBAB;
            }
        }
    }


    .grid-hero-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        p {
            font-size: 13px;
            line-height: 28px;
            /* or 214% */

            letter-spacing: -0.04em;

            color: #000000;

        }
    }

    .partners {
        margin-top: 2em;
        margin-bottom: 1em;

        h1 {
            font-weight: 900;
            font-size: 25px;
            line-height: 27px;
            /* or 106% */
            padding: 0 2em;

            text-align: center;
            letter-spacing: -0.05em;

            color: #192655;

            span {
                color: #00BBAB;
            }
        }
    }

    .club-descontos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }

    .descontos {
        margin-top: 1em;
    }

    .smile-grid {
        display: flex;

        padding: 0 2em;

        div {
            margin: 0.5em 0.3em;
        }

        img {
            width: 35px;
        }

        h5 {
            font-weight: 400;
            font-size: 15.1801px;
            line-height: 23px;
            display: flex;
            align-items: center;
            letter-spacing: -0.04em;

            color: #000000;
        }
    }

    .call-bottom {
        h1 {
            font-weight: 900;
            font-size: 25px;
            line-height: 31px;
            /* or 124% */
            text-align: center;
            letter-spacing: -0.05em;
            padding: 0 3em;
            color: #192655;

            span {
                color: #00BBAB;
            }
        }
    }

    .car {
        display: flex;
        justify-content: flex-end;
    }


    .middle-text {
        padding: 1em 3em;
        text-align: center;
    }
    .slider-par{
        width: 100%;
        img{
            width: 133%;
        }
    }
    .m-inputs {
        input {
            background: #E4F4EF !important;
            border-radius: 4.42187px !important;
            padding: 1em;
        }
    }

    .btn-next {
        background: #192655;
        border-radius: 6.9257px;
        color: #fff;
        font-weight: 700;
        padding: 0.8em 4em;
    }

    .d-influencer{
        display: none !important;
    }
    .d-club{
        display: none !important;
    }
    //footer
    footer {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
    .m-home {
        display: none !important;
    }

    .m-header {
        display: none !important;
    }
    .m-influencer{
        display: none !important;
    }
}
