.filter-grid {
    display: grid;
    grid-template-columns: 162px 162px 162px 162px;
    margin-top: 2em;
    gap: 20px;
}

.btn-filter-1 {

    width: 162px;
    height: 45px;
    z-index: 10;
    background: #DEE3ED;
    border: none;
    border-radius: 22.5px;
    font-weight: 700;

    span {
        color: #192655;
    }
}

.btn-filter-2 {

    width: 162px;
    height: 45px;
    z-index: 10;
    background: #E2EEED;
    border: none;
    border-radius: 22.5px;
    font-weight: 700;

    span {
        color: #3A974C;
    }
}

.btn-filter-3 {

    width: 162px;
    height: 45px;
    z-index: 10;
    background: #F4EEEB;
    border: none;
    border-radius: 22.5px;
    font-weight: 700;

    span {
        color: #F29339;
    }
}

.btn-filter-4 {

    width: 162px;
    height: 45px;
    z-index: 10;
    background: #F1E2E9;
    border: none;
    border-radius: 22.5px;
    font-weight: 700;

    span {
        color: #D11A2A;
    }
}

.table-headling {
    display: grid;
    grid-template-columns: 15px auto auto auto auto auto;
    margin-top: 1em;
    align-items: center;
    gap: 30px;
    padding-right: 5em;
    padding-left: 2em;

    select {
        border: none;
        font-weight: 400;
        font-size: 12px;
        background-color: transparent !important;
    }
}

.pedidos-body {
    margin-top: 1em;

    .item-pedido {
        width: 100%;
        padding: 1em 2em;
        margin: 1em 0;
        background: #FFFFFF;
        box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07);
        border-radius: 10px;

        .pedido-list {
            display: grid;
            grid-template-columns: 15px auto auto auto auto auto auto;
            gap: 30px;
            align-items: baseline;
            h5 {
                font-weight: 600;
                font-size: 14px;

                color: #000000;
            }
            .check{
                margin-top: 0.5em;
            }
            .more{
                font-size: 1.5em;
                margin-left: 1em;
                a{
                    text-decoration: none;
                    color:#605BFF;
                }
            }
        }
    }
}
.grid-item{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: baseline;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    left: 270px;
    top: 253px;

    border: 1px solid #B3B3BF;
    border-radius: 2px;
}
