@import 'pedidos';

body {
    background-color: #F4F7FE;
    font-family: 'Nunito', sans-serif;
}

.container-custom {
    margin-left: 17em;
    margin-right: 2em;
}

header {
    .side-bar {
        width: 17%;
        background-color: #FFFFFF;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;

        .logo {
            display: grid;
            justify-content: center;
            margin-top: 2em;

            img {
                width: 100%;
            }
        }

        .menu {
            display: grid;
            justify-content: start;
            font-size: 1.1em;
            line-height: 22px;
            margin-top: 2em;
            margin-left: 1em;

            a {
                color: #9A9AA9;
                font-weight: 600;
                margin: 0.5em 0;
            }

            img {
                margin: 0 0.4em;
            }
        }
    }

    .header-top {
        margin-top: 1.3em;
        color: #9A9AA9;
        font-weight: 700;
        .content-top {
            background: #FFFFFF;
            box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
            border-radius: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 0 1em;
        }

        .user-alt {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: self-end;
            align-items: baseline;

            .user {
                display: grid;
                grid-template-columns: auto auto;
                padding: 1em 0;
                gap: 10px;
                align-items: center;

                img {
                    width: 100%;
                }

                h5 {
                    font-size: 12px;
                    font-weight: 600;
                    color: #000000;
                }

                p {
                    font-weight: 400;
                    font-size: 10px;
                }

                .user-text {
                    line-height: 0.6;
                    margin-top: 0.5em;
                }
            }
        }
    }
}
